/* Style CSS File */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;900&display=swap');

 /* * { border: 1px solid red; }  */

body {
    margin: 0;
    overflow: auto;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    color: black;
} 

.container {
    display: flex;
    flex-direction: column;
}
/*Navigation Bar*/
navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #1F2937;
}
.logo {
    flex-shrink: 0;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    width: 350px;
}
nav {
    display: flex;
    justify-content: flex-end;
    width: 350px;
}
navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
navbar a {
    color: #F9FAF8;
    font-weight: 400;
    text-decoration: none;
}
/*Hero Section*/
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    background-color: #1F2937;
}
/*Hero Card*/
.card {
    width: 350px;
}
.welcome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.hero .card p {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}
.hero button, .hero button a {
    padding: 2px 6px;
    font-weight: 700;
    color: #F9FAF8;
    background-color: #3882F6;
    text-decoration: none;
    border-radius: 8px;
    border-color: white;
}
/*Hero Image*/
.hero_img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 350px;
    height: 250px;
}
/* Content */
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem;
    margin: 3em 0rem;
}
.content h1 {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}
.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    margin-top: 1rem;
}
.carousel_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    gap: 1rem;
}
.carousel_item img {
    border: 2px solid #1F2937;
    border-radius: 8px;
}
.carousel_text {
    color: #1F2937;
    font-weight: 400;
    width: 150px;
}
/* Quote */
.content_quote {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}
.quote {
    padding: 0rem 10rem;
}
.quote p {
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}
.speaker {
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 2rem;
}
/* Call to Action */
.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    background-color: #3882F6;
    padding: 2rem 10rem;
    border-radius: 25px;
    max-width: 800px;
}
.cta button, .cta button a {
    flex-shrink: 0;
    height: 24px;
    padding: 2px;
    margin: 1rem;
    font-weight: 900;
    color: #F9FAF8;
    background-color: #3882F6;
    text-decoration: none;
    border-radius: 8px;
    border-color: white;
}
.cta_notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-shrink: .75;
}
.cta_notice h1, .cta_notice p {
    margin: 0;
    max-width: 400px;
}